{% extends "dashboard/dashboard_base.html" %}

{% block title %}Log In{% endblock %}

{% block page_id %}login_page{% endblock page_id %}

{% block content %}
    <div class="row">
        <div id="login" class="fourcol">
            <h2>Log In</h2>

            <form action="" method="post" id="login_form">
                {% csrf_token %}
                <div id="login_entries">
                    {{ form.as_p }}
                </div>

                <div id="login_buttons">
                    <input class="primary_button" type="submit" value="Log in">
                    <a class="secondary_button"
                       href="{% url register %}">Register</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

