{% extends 'dashboard/dashboard_base.html' %}

{% block title %}{{ block.super }}Trip Detail{% endblock %}

{% block page_id %}survey_detail{% endblock %}

{% block content %}
    <div class="row">
        <div id="selectors" class="fourcol first">


            <div id="survey_title">
                <h2>{{ survey.title }}</h2>
            </div>

            <div id="survey_summary">
                <h3>Aggregate Statistics</h3>

                <div id="survey_stats">
                    <div id="average_distance">
                        <span class="summary_value">{{ avg_distance|floatformat:1 }}</span>
                        <span class="summary_title">Avg km</span>
                    </div>

                    <div id="max_distance">
                        <span class="summary_value">{{ max_distance|floatformat:1 }}</span>
                        <span class="summary_title">Max km</span>
                    </div>

                    <div id="min_distance">
                        <span class="summary_value">{{ min_distance|floatformat:1 }}</span>
                        <span class="summary_title">Min km</span>
                    </div>

                    <div id="average_duration">
                        <span class="summary_value">{{ avg_duration|floatformat:1 }}</span>
                        <span class="summary_title">Avg min</span>
                    </div>

                    <div id="max_duration">
                        <span class="summary_value">{{ max_duration|floatformat:1 }}</span>
                        <span class="summary_title">Max min</span>
                    </div>

                    <div id="min_duration">
                        <span class="summary_value">{{ min_duration|floatformat:1 }}</span>
                        <span class="summary_title">Min min</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="eightcol last">
            <div id="filters">
                <h3>Filters</h3>

                <form id="filter_form" method="get" action="">
                    <label for="id_date">Filter by date:</label>
                    <input type="text" id="id_date" name="date" value="{% if date %}{{ date }}{% endif %}">

                    <label for="id_participant">Filter by participant:</label>
                    <select id="id_participant" name="participant">
                        <option value="0">&mdash;All&mdash;</option>
                        {% for participant in participants %}
                            <option value="{{ participant.pk }}" {% if participant_id and participant_id == participant.pk %}selected="selected"{% endif %}>{{ participant.username }}</option>
                        {% endfor %}
                    </select>

                    <button id="filter_submit" type="submit"
                            class="secondary_button">Filter Trips
                    </button>
                </form>
            </div>
            <div id="trips">


                <h3>Recorded Trips</h3>
                <a title="Export samples for trips as CSV" alt="Export samples for trips as CSV" href="{% url survey_export survey.pk %}{% if date %}?date={{ date }}{% endif %}" class="export_button"></a>
                <table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Distance</th>
                        <th>Duration</th>
                        <th>Modes of Transport</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.date }}</td>
                            <td>{{ trip.description }}</td>
                            <td>{{ trip.distance|floatformat:2 }}</td>
                            <td>{{ trip.duration|floatformat:2 }}</td>
                            <td>
                                {% for mode in trip.transport_modes.all %}
                                    {{ mode.get_mode_display }}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url trip_detail trip.pk %}">View
                                    Samples</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <span class="step-links">
                                    {% if trips.has_previous %}
                                        <a href="?page={{ trips.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ trips.number }} of {{ trips.paginator.num_pages }}.
                                    </span>

                                    {% if trips.has_next %}
                                        <a href="?page={{ trips.next_page_number }}">next</a>
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <a id="back" href="{% url survey_list %}" class="secondary_button">&lt; Back to survey list</a>
        </div>


    </div>

    <div class="row">
        <div id="trip_summary" class="sixcol last">

        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_date").datepicker({
                                         "dateFormat":"yy-mm-dd"
                                     });
        });
    </script>
{% endblock %}