{% extends 'dashboard/dashboard_base.html' %}

{% block title %}Trip Detail{% endblock title %}

{% block head_scripts %}
    {{ map.style }}
    {{ map.scripts }}
{% endblock head_scripts %}

{% block page_id %}trip_detail{% endblock page_id %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="trip_controls" class="fourcol">
                <div id="trip_title">
                    <h2><em>Trip: </em>{{ trip.description }}</h2>
                    <span id="trip_participant">by {{ trip.participant.username }}</span>
                </div>


                <nav id="controls">
                    <ul>
                        <li><a href="{% url survey_detail trip.survey.pk %}">
                            &lt; Back to Survey</a></li>
                    </ul>
                </nav>

            </div>

            <div id="{{ map.dom_id }}" class="eightcol last map">

            </div>
        </div>


        <div class="row">
            <div class="tencol onepush" id="samples">
                <h3>Samples</h3>
                <a title="Export samples for trips as CSV"
                   alt="Export samples for trips as CSV"
                   href="{% url trip_export trip.pk %}"
                   class="export_button"></a>
                <table id="samples_table">
                    <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Location</th>
                        <th>Location Accuracy</th>
                        <th>Speed</th>
                        <th>Heading</th>
                        <th>Heading Accuracy</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sample in samples %}
                        <tr>
                            <td>{{ sample.timestamp }}</td>
                            <td>{{ sample.location }}</td>
                            <td>{{ sample.location_accuracy }}</td>
                            <td>{{ sample.speed }}</td>
                            <td>{{ sample.heading }}</td>
                            <td>{{ sample.heading_accuracy }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                             <span class="step-links">
                                 {% if samples.has_previous %}
                                     <a href="?page={{ samples.previous_page_number }}">previous</a>
                                 {% endif %}

                                 <span class="current">
                                     Page {{ samples.number }} of {{ samples.paginator.num_pages }}.
                                 </span>

                                 {% if samples.has_next %}
                                     <a href="?page={{ samples.next_page_number }}">next</a>
                                 {% endif %}
                             </span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_libs %}
    {#    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBSU96H6Gjy6P-83qGromu2CkuTl49Zb2U&sensor=true"#}
    {#            type="text/javascript"></script>#}
{% endblock %}

{% block scripts %}


    {#    <script src="{{ STATIC_URL }}dashboard/js/jquery.tripmap.js"#}
    {#            type="text/javascript"></script>#}
    <script type="text/javascript">
        $(document).ready(function () {
//            $("#trips_map").tripmap();
            {{ map.js_module }}.
            map_load();
        });
    </script>
{% endblock %}