@serif: "ltc-bodoni-175";
@body_sans: "pragmatica-web";
@body_font_size: 16px;
@grey_box: #ccc;
@faded_red: #D98D8C;
@faded_green: #71B592;
@darker_red: darken(@faded_red, 30%);
@darker_green: darken(@faded_green, 15%);

.heading_type {
    font-family: @serif, Times, serif;
}

.body_type {
    font-family: @body_sans, "Helvetica Neue", Helvetica, arial, sans-serif;
}

.button(@color, @textcolor){
    background: @color;
    border-radius: 3px;
    border: darken(@color, 15%) 1px solid;
    color: @textcolor;
    vertical-align: middle;

    height: 38px;

    text-decoration: none;
    text-align: center;
    font-size: 20em / @body_font_size;
    .body_type;

    &:active {
        background: darken(@color, 10%);
        border: darken(@color, 25%) 1px solid;
    }

    &:hover, &:active, &:visited {
        color: @textcolor;
    }
}

.text_input {
    width: 100%;
    height: 49px;
    border-radius: 8px;
    border: 1px solid #979797;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.50);
    padding: 0;
    text-indent: 5%;
    font-size: 20rem / @body_font_size;
    font-weight: bold;
    .body_type;

    &:active, &:focus {
        outline-style: none;
        outline-width: 0;
    }
}

.striped_panel {
    border-radius: 8px;
    border: @faded_red 1px solid;
    background: url('img/bgtile.png');
}

/*
    Base Layout Styles
*/
header {
    margin-top: 0;
}

/* Base typography styles */

h1 {
    .heading_type;
    font-size: 96rem / @body_font_size;
    color: @faded_red;
    text-align: center;
}

.header_subtitle {
    font-size: 24rem / @body_font_size;
    color: @darker_red;
    display: block;
    font-style: italic;
    margin-top: -10rem / @body_font_size;
}

/* End base typography */

.primary_button {
    .button(@faded_red, #fff);
}

.secondary_button {
    .button(@faded_green, #fff);
}

/* Shared Styles */
em {
    font-style: italic;
    color: @faded_green;
}

.row {
    padding-top: 40px;
    margin-bottom: 20px;
}

table {
    background: #fff;
    border: @faded_red 1px solid;
    border-radius: 8px;
    margin: 10px auto;
    .body_type;
    font-size: 12rem / @body_font_size;
}

thead {
    background: @faded_red;
    color: #fff;
    font-weight: bold;

}

td, th {
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    border: @faded_red 1px solid;
    border-collapse: collapse;
    text-indent: 10px;

}

th {
    border: #fff 1px solid;
    border-top: @faded_red 1px solid;

    &:first-child {
        border-left: @faded_red 1px solid;
    }

    &:last-child {
        border-right: @faded_red 1px solid;
    }
}

tfoot {
    text-align: center;
}

.export_button {
    width: 24px;
    height: 24px;
    background: url("img/download.png") no-repeat center;
}

/* Styles for Login and Registration Pages */

body#login_page, body#registration_page {
    div#login, div#register {
        margin: 0 auto;
        float: none;
    }

    h2 {
        .heading_type;
        font-size: 48rem / @body_font_size;
        color: @faded_red;
        text-align: center;
        margin-bottom: -9px;
        margin-top: 25%;
    }

    form {
        label {
            display: none;
        }

        p {
            width: 82.3%;
            height: 49px;
            margin: 30px auto;
        }

        input[type="text"], input[type="password"] {
            .text_input
        }

        div#login_buttons, div#registration_buttons {
            width: 82.3%;
            margin: 12px auto;
        }

        div#registration_buttons input {
            display: block;
            margin: 0 auto;
        }

        .primary_button, .secondary_button {
            width: 45%;
            display: inline-block;
        }

        .secondary_button {
            height: 36px;
            line-height: 36px;
            margin-left: 7%;
        }
    }

    #login_entries, #registration_entries {
        .striped_panel;
    }
}

/* End login/registration styles */

/* Styles for Survey Detail page */

body#survey_detail {
    div {
        position: relative;
    }

    a#back {
        display: block;
        width: 40%;
        font-size: 14rem / @body_font_size;
        line-height: 28px;
        height: 28px;
        margin-top: 12px;
    }

    h3 {
        .heading_type;
        font-size: 20rem / @body_font_size;
        color: @faded_red;
        top: -24rem / @body_font_size;
        left: 18rem / @body_font_size;
        position: absolute;
    }

    #survey_summary {
        background: @grey_box;
        min-height: 282px;
        margin-top: 57px;
        .striped_panel;

    }

    #survey_title {
        h2 {
            .heading_type;
            font-size: 48rem / @body_font_size;
            color: @faded_red;
            text-align: left;
            display: block;
            width: 100%;
        }

        border-bottom: #ccc 1px solid;
    }

    #filters {
        background: @faded_red;
        border-radius: 3px;
        padding: 1.7%;

        label {
            .body_type;

            font-size: 14rem / @body_font_size;
            color: #fff;
        }

        input {
            border-radius: 8px;
            border: 1px solid @darker_red;
            box-shadow: inset 0px 1px 3px rgba(1, 0, 0, 0.50);
            padding: 0;
            text-indent: 5%;
            font-size: 16rem / @body_font_size;
            font-weight: bold;
            .body_type;
            height: 38px;

            width: 30%;
            &:active, &:focus {
                outline-style: none;
                outline-width: 0;
            }
        }

        input, select {
            margin-right: 3.9%;
        }

        button {

        }

        select {
            height: 38px;
            width: 15%;

        }

        option {
            text-align: center;
        }
    }

    #date_selector {
        min-height: 140px;
        background: @grey_box;
    }

    #trips {
        background: @grey_box;
        min-height: 100px;
        margin-top: 40px;
        .striped_panel;

        table {
            width: 96.6%;
        }

        .export_button {
            position: absolute;
            right: 0;
            top: -20px;
            z-index: 20;
        }
    }

    #survey_stats {
        width: 90%;
        height: 90%;
        margin: 4% auto;
        background: #ffffff;
        border-radius: 8px;
        border: #ccc 1px solid;
    }

    #survey_stats div {
        display: inline-block;
        margin-left: 19px;
        margin-top: 10px;
    }

    .summary_value {
        width: 70px;
        height: 70px;
        display: block;
        line-height: 70px;
        text-align: center;
        border-radius: 100px;
        border: @faded_red 3px solid;
        .body_type;
        color: @faded_green;
        font-weight: bold;
        font-size: 20rem / @body_font_size;
        background: url(img/bgtile.png) lighten(@faded_red, 25%);
    }

    .summary_title {
        width: 70px;
        display: block;
        text-align: center;
        .body_type;
        color: @faded_red;
        font-weight: bold;
        font-size: 16rem / @body_font_size;
        margin: 10px auto 15px auto;
    }
}

/* End Survey detail page styles */

/* Trip Detail page styles */
body#trip_detail {
    .row {
        position: relative;
    }

    h2 {
        .heading_type;
        font-size: 36rem / @body_font_size;
        color: @faded_red;
        text-align: left;
        display: block;
        width: 100%;
        margin-bottom: 12px;
    }

    span#trip_participant {
        color: @faded_green;
        .body_type;
        font-size: 20em / @body_font_size;
    }

    div#trip_title {
        padding-top: 20px;
        padding-bottom: 5px;
        border-bottom: #ccc 1px solid;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    div#trip_controls {
        min-height: 320px;
        position: relative;
    }

    nav#controls {

        min-height: 43px;

        li {
            display: inline-block;
            line-height: 38px;
        }

        a {
            display: block;
            .secondary_button;
            font-size: 14rem / @body_font_size;
            line-height: 24px;
            height: 24px;
            padding: 0 10px;
        }
    }

    h3 {
        .heading_type;
        font-size: 20rem / @body_font_size;
        color: @faded_red;
        top: -24rem / @body_font_size;
        left: 18rem / @body_font_size;
        position: absolute;
    }

    .map {
        height: 320px;
    }

    #samples {
        background: @grey_box;
        position: relative;
        .striped_panel;

        table {
            width: 96.6%;
        }

        .export_button {
            position: absolute;
            right: 0;
            top: -20px;
            z-index: 20;
        }
    }
}

/* End trip detail page styles */

/* Survey List Page */

body#survey_list_page {

    div#survey_list {
        .striped_panel;
        padding: 10px;
    }

    ul {
        background: #fff;
        border-radius: 8px;
    }

    li {
        .body_type;
        font-size: 20rem / @body_font_size;
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 10px 0;
        border-bottom: #ccc 1px solid;
    }

    li:last-child {
        border-bottom: none;
    }

    h2 {
        .heading_type;
        font-size: 48rem / @body_font_size;
        color: @faded_red;
        text-align: center;
        margin-bottom: -9px;
    }

    a#create_survey {
        display: block;
        padding: 5px;
        height: 28px;
        width: 140px;
        line-height: 28px;
        margin: 10px auto;
    }
}

body#survey_create_edit_page {
    label {
        display: none;
    }

    label[for="id_managed_by"] {
        display: inline-block;
        margin-left: 5%;
        .body_type;
        font-weight: bold;
    }

    p {
        width: 90%;
        margin: 30px auto;
        background: #fff;
        height: 49px;
        border-radius: 8px;
        line-height: 49px;
        position: relative;
    }

    input[type="text"], input[type="password"] {
        .text_input;

    }

    select {
        display: block;
        top: 14px;
        line-height: 49px;
        position: absolute;
        right: 5%;
        min-width: 180px;
        max-width: 220px;
    }

    h2 {
        .heading_type;
        font-size: 48rem / @body_font_size;
        color: @faded_red;
        text-align: center;
        margin-bottom: -9px;

    }

    a.secondary_button {
        height: 36px;
        line-height: 36px;
        display: inline-block;
        margin-left: 10px;
        width: 100px;
    }

    input.primary_button {
        width: 100px;
        display: inline-block;
    }

    div#buttons {
        margin: 10px auto;
        width: 40%;
    }
}

/* End survey list page */

header .row {
    margin-top: 0px;
}